<h1>Results: <%= @total_results %></h1>
<% @foods.each do |food| %>
  <ul class="foods">
    <ul class="code">Code: <%= food.code %></ul>
    <ul class="description">Description: <%= food.description %></ul>
    <ul class="brand">Brand: <%= food.brand %></ul>
    <ul class="ingredients">Ingredients<%= food.ingredients %></ul>
  </ul>
<% end %>
